.crashDetailsCont {
  padding-top: 70px;
}

.crashSection {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 1vw 3vw;
  background-color: white;
  color: #6c757d;
  transition: 400ms;
}

.crashHeader > h1 {
  color: #ff073a;
  text-align: center;
  font-size: 2.5rem;
}

.detailsTable {
  border: 1px solid silver;
  width: 60vw;
  margin: auto;
}

.deatilsHeader {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
}

.deatilsHeader span {
  width: 30vw;
  height: 60px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  padding: 0px 10px;
  background-color: #ebebeb;
  color: #6c757d;
  font-size: 20px;
  font-weight: 700;
}

.deatilsRow {
  /* border: 1px solid black; */
  width: 100%;
  display: flex;
  align-items: center;
}
.deatilsRow span {
  width: 30vw;
  height: 50px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  color: gray;
  padding: 0px 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .crashSection {
    width: 100%;
  }
}
