.carCrashCont {
  /* border: 1px solid red; */
  padding-top: 70px;
}

.mainImgCont {
  background-image: linear-gradient(#00000083, #00000083),
    url("../Img/collision1.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.backgroundText {
  width: 90%;
  margin: auto;
}

.backgroundText div {
  color: #ffff;
  padding-top: 1.5vh;
  font-size: 12vw;
  font-weight: 600;
}

.filterCont input {
  box-shadow: 2px 2px 12px 7px rgba(216, 216, 216, 0.637);
  width: 40%;
  font-size: 18px;
  padding: 18px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: gray;
  margin-bottom: 50px;
  margin-top: 30px;
}

.filterCont button {
  font-size: 18px;
  padding: 20px 15px;
  color: gray;
  background-color: #ededee;
  border: none;
  margin-left: 30px;
  border-radius: 5px;
  cursor: pointer;
}

.tableHeader {
  width: 80%;
  display: flex;
  margin: auto;
  border: 1px solid silver;
  border-bottom: none;
  /* border: 1px solid black; */
}

.headerCont > h1 {
  color: #6c757d;
}

.tableHeader div:nth-child(1),
.tableHeader div:nth-child(2),
.tableHeader div:nth-child(3),
.tableHeader div:nth-child(4) {
  width: 20vw;
  border: 1px solid silver;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #ebebeb;
  color: #6c757d;
}

.tableRows {
  width: 80%;
  display: flex;
  text-decoration: none;
  margin: auto;
  border: 1px solid silver;
  border-bottom: none;
  border-top: none;
}

.tableRows:hover {
  background-color: #ededee;
}

.tableRows div:nth-child(1),
.tableRows div:nth-child(2),
.tableRows div:nth-child(3),
.tableRows div:nth-child(4) {
  width: 20vw;
  border: 1px solid silver;
  height: 7vh;
  display: flex;
  align-items: center;
  color: #6c757d;
}

.tableRows div:nth-child(1) {
  color: #ff073a;
}
.tableRows div:nth-child(2) {
  color: #007bff;
}

.tableRows div:nth-child(3) {
  color: #28a745;
}

.tableRows div:nth-child(4) {
  color: #6c757d;
}

.paginationCont {
  padding-top: 60px;
  padding-bottom: 60px;
}

.paginationCont button:nth-child(1),
.paginationCont button:nth-child(2) {
  font-size: 18px;
  padding: 8px 15px;
}

.paginationCont button:nth-child(1) {
  border: 1px solid #ff073a;
  color: #ff073a;
  transition: 300ms;
}

.paginationCont button:nth-child(1):hover {
  border: 1px solid #ff073a;
  background-color: #ff073a;
  color: white;
}

.paginationCont button:nth-child(2) {
  border: 1px solid #28a745;
  color: #28a745;
  transition: 300ms;
}

.paginationCont button:nth-child(2):hover {
  border: 1px solid #28a745;
  background-color: #28a745;
  color: white;
}

.showCardCont {
  /* border: 1px solid black; */
  width: 80%;
  margin: auto;
  text-align: right;
  margin-bottom: 20px;
}

.showCardGrid i,
.showCardRow i {
  font-size: 35px;
  cursor: pointer;
  color: #6c757d;
}

.cardCont {
  /* border: 1px solid red; */
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #ebebeb;
  padding: 20px 5px;
}

.cardLinkCont {
  /* border: 1px solid silver; */
  width: 24vw;
  margin: 7px;
  background-color: white;
  transition: 300ms;
  border-radius: 4px;
}
.cardLinkCont:hover {
  box-shadow: 2px 2px 6px 10px rgba(209, 209, 209, 0.658);
}
.cardLink {
  text-decoration: none;
}

.cardLink div:nth-child(1),
.cardLink div:nth-child(2),
.cardLink div:nth-child(3),
.cardLink div:nth-child(4) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.cardLink div:nth-child(1) {
  color: #ff073a;
}

.cardLink div:nth-child(2) {
  color: #007bff;
}

.cardLink div:nth-child(3) {
  color: #28a745;
}

.cardLink div:nth-child(4) {
  color: #6c757d;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .tableHeader {
    width: 100%;
  }

  .headerCont > h1 {
    color: #6c757d;
  }

  .tableHeader div:nth-child(1),
  .tableHeader div:nth-child(2),
  .tableHeader div:nth-child(3),
  .tableHeader div:nth-child(4) {
    width: 25vw;
    border: 1px solid silver;
    height: 10vh;
  }

  .tableRows {
    width: 100%;
  }

  .tableRows div:nth-child(1),
  .tableRows div:nth-child(2),
  .tableRows div:nth-child(3),
  .tableRows div:nth-child(4) {
    width: 25vw;
    border: 1px solid silver;
    height: 11vh;
  }

  /* Toggle to Card View  */

  .cardCont {
    /* border: 1px solid red; */
    width: 100%;
  }

  .cardLinkCont {
    /* border: 1px solid silver; */
    width: 45vw;
  }
}
