.crashDetailsCont {
  padding-top: 70px;
}

.crashSection {
  width: 60%;
  margin: auto;
  text-align: left;
  padding: 1vw 3vw;
  background-color: white;
  transition: 400ms;
}
.crashSection:hover {
  box-shadow: 1px 1px 4px 8px rgb(223, 223, 223);
}
